// Reference: https://github.com/YaLTeR/niri/wiki/Configuration
input {
    keyboard {
        xkb {
            // NOTE: No need to ctrl:nocaps since I am using home row mods
            layout "us"
        }
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse {

    }
    trackpoint {

    }
    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
    // workspace-auto-back-and-forth
    mod-key "Super"
}
// tsuki
output "Ancor Communications Inc VC279 G8LMRS004210" {
    mode "1920x1080@60.000"
    scale 1
    transform "90"
    position x=0 y=0
}
output "GIGA-BYTE TECHNOLOGY CO., LTD. G34WQC A 23022B003495" {
    mode "3440x1440@144.000"
    scale 1
    transform "normal"
    position x=1080 y=1440
    focus-at-startup
}
output "GIGA-BYTE TECHNOLOGY CO., LTD. G34WQC A 23022B003487" {
    mode "3440x1440@144.000"
    scale 1
    transform "normal"
    position x=1080 y=0
}
// work laptop
output "InfoVision Optoelectronics (Kunshan) Co.,Ltd China 0x3E94 0x00000004" {
    mode "1920x1080@59.989"
    scale 1
    transform "normal"
    position x=0 y=0
}
output "Dell Inc. DELL P2715Q 0WTY26AL33UL" {
    // mode "3840x2160@59.996"
    mode "2560x1440@59.951"
    scale 1
    transform "normal"
    position x=1920 y=0
    focus-at-startup
}
output "Dell Inc. DELL P2715Q 0WTY26AL35PL" {
    // mode "3840x2160@59.996"
    mode "2560x1440@59.951"
    scale 1
    transform "normal"
    position x=4480 y=0
}
environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    DISPLAY ":0"
}
// Settings that influence how windows are positioned and sized.
layout {
    gaps 5
    center-focused-column "on-overflow"
    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }
    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }
    default-column-width {

    }
    focus-ring {
        off
        width 4
        active-gradient from="#80c8ff" to="#bbddff" angle=45
        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
    border {
        width 4
        active-gradient from="#cba6f7" to="#89b4fa"
        inactive-gradient from="#585b70" to="#585b70"
    }
    shadow {
        on
        draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        color "#00000070"
    }
    struts {

    }
}
spawn-at-startup "morgen"
spawn-at-startup "bash" "-c" "swww img ~/Pictures/wallpapers/bluewave.png --transition-type center"
// NOTE: This is disabled because it causes issues where the last copied text is not pasted
// spawn-at-startup "bash" "-c" "sleep 10 && ~/.nix-profile/bin/wl-clip-persist --clipboard regular"
spawn-at-startup "bash" "-c" "sleep 15 && ~/.nix-profile/bin/wl-paste --watch cliphist store"
spawn-at-startup "bash" "-c" "python ~/.config/niri/scripts/blur-wallpaper.py"
spawn-at-startup "bash" "-c" "python ~/.config/niri/scripts/change-wallpaper.py"
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d_%H-%M-%S.png"
// Animation settings.
animations {
    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
    window-open {
        duration-ms 100
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 100
        curve "ease-out-quad"
    }
}
// Work around WezTerm's initial configure bug by setting an empty default-column-width.
window-rule {
    match app-id="^org\\.wezfurlong\\.wezterm$"
    default-column-width {

    }
}
// Side monitor apps
window-rule {
    match app-id="Morgen"
    match app-id="Slack"
    match app-id="Zotero"
    match app-id="spotify"
    open-on-output "Ancor Communications Inc VC279 G8LMRS004210"
}
// floating terminal
window-rule {
    match app-id="scratchpad"
    open-floating true
    default-floating-position x=0 y=50 relative-to="bottom"
    opacity 0.9
    default-column-width {
        proportion 0.7
    }
    default-window-height {
        proportion 0.5
    }
}
// floating
window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    match app-id="brave-browser$" title="^Picture-in-Picture$"
    match app-id="org.kde.polkit-kde-authentication-agent-1"
    open-floating true
}
// block screen capture for some apps
window-rule {
    match app-id="^org\\.keepassxc\\.KeePassXC$"
    match app-id="^org\\.gnome\\.World\\.Secrets$"
    match app-id="Proton Pass"
    block-out-from "screen-capture"
}
// Example: enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}
// tweak opacity for inactive windows
window-rule {
    match is-active=true
    opacity 0.98
}
window-rule {
    match is-active=false
    opacity 0.95
}
binds {
    Mod+Shift+Slash {
        show-hotkey-overlay
    }
    Mod+Return {
        spawn "ghostty"
    }
    Mod+Shift+Return {
        spawn "kitty" "--class" "scratchpad"
    }
    Mod+R {
        spawn "~/.config/niri/scripts/walker.sh"
    }
    Mod+D {
        spawn "~/.nix-profile/bin/walker" "--modules" "windows"
    }
    Mod+Ctrl+C {
        spawn "bash" "-c" "~/.nix-profile/bin/hyprpicker | ~/.nix-profile/bin/wl-copy"
    }
    Super+Alt+L {
        spawn "bash" "-c" "swaylock && sleep 10 && niri msg action power-off-monitors"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"
    }
    XF86AudioMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"
    }
    Mod+Shift+Q {
        close-window
    }
    Mod+Left {
        focus-column-left
    }
    Mod+Down {
        focus-window-down
    }
    Mod+Up {
        focus-window-up
    }
    Mod+Right {
        focus-column-right
    }
    Mod+H {
        focus-column-left
    }
    Mod+L {
        focus-column-right
    }
    Mod+Ctrl+Left {
        move-column-left
    }
    Mod+Ctrl+Down {
        move-window-down
    }
    Mod+Ctrl+Up {
        move-window-up
    }
    Mod+Ctrl+Right {
        move-column-right
    }
    Mod+Ctrl+H {
        move-column-left
    }
    Mod+Ctrl+L {
        move-column-right
    }
    Mod+J {
        focus-window-or-workspace-down
    }
    Mod+K {
        focus-window-or-workspace-up
    }
    Mod+Ctrl+J {
        move-window-down-or-to-workspace-down
    }
    Mod+Ctrl+K {
        move-window-up-or-to-workspace-up
    }
    Mod+Home {
        focus-column-first
    }
    Mod+End {
        focus-column-last
    }
    Mod+Ctrl+Home {
        move-column-to-first
    }
    Mod+Ctrl+End {
        move-column-to-last
    }
    Mod+P {
        focus-monitor-previous
    }
    Mod+N {
        focus-monitor-next
    }
    Mod+Shift+H {
        focus-monitor-left
    }
    Mod+Shift+J {
        focus-monitor-down
    }
    Mod+Shift+K {
        focus-monitor-up
    }
    Mod+Shift+L {
        focus-monitor-right
    }
    Mod+Shift+Ctrl+Left {
        move-column-to-monitor-left
    }
    Mod+Shift+Ctrl+Down {
        move-column-to-monitor-down
    }
    Mod+Shift+Ctrl+Up {
        move-column-to-monitor-up
    }
    Mod+Shift+Ctrl+Right {
        move-column-to-monitor-right
    }
    Mod+Shift+Ctrl+H {
        move-column-to-monitor-left
    }
    Mod+Shift+Ctrl+J {
        move-column-to-monitor-down
    }
    Mod+Shift+Ctrl+K {
        move-column-to-monitor-up
    }
    Mod+Shift+Ctrl+L {
        move-column-to-monitor-right
    }
    Mod+Page_Down {
        focus-workspace-down
    }
    Mod+Page_Up {
        focus-workspace-up
    }
    Mod+U {
        focus-workspace-down
    }
    Mod+I {
        focus-workspace-up
    }
    Mod+Ctrl+Page_Down {
        move-column-to-workspace-down
    }
    Mod+Ctrl+Page_Up {
        move-column-to-workspace-up
    }
    Mod+Ctrl+U {
        move-column-to-workspace-down
    }
    Mod+Ctrl+I {
        move-column-to-workspace-up
    }
    Mod+Shift+Down {
        move-workspace-down
    }
    Mod+Shift+Up {
        move-workspace-up
    }
    Mod+Shift+U {
        move-workspace-down
    }
    Mod+Shift+I {
        move-workspace-up
    }
    Mod+WheelScrollDown cooldown-ms=150 {
        focus-workspace-down
    }
    Mod+WheelScrollUp cooldown-ms=150 {
        focus-workspace-up
    }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 {
        move-column-to-workspace-down
    }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 {
        move-column-to-workspace-up
    }
    Mod+WheelScrollRight {
        focus-column-right
    }
    Mod+WheelScrollLeft {
        focus-column-left
    }
    Mod+Ctrl+WheelScrollRight {
        move-column-right
    }
    Mod+Ctrl+WheelScrollLeft {
        move-column-left
    }
    Mod+Shift+WheelScrollDown {
        focus-column-right
    }
    Mod+Shift+WheelScrollUp {
        focus-column-left
    }
    Mod+Ctrl+Shift+WheelScrollDown {
        move-column-right
    }
    Mod+Ctrl+Shift+WheelScrollUp {
        move-column-left
    }
    Mod+1 {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+6 {
        focus-workspace 6
    }
    Mod+7 {
        focus-workspace 7
    }
    Mod+8 {
        focus-workspace 8
    }
    Mod+9 {
        focus-workspace 9
    }
    Mod+Shift+1 {
        move-column-to-workspace 1
    }
    Mod+Shift+2 {
        move-column-to-workspace 2
    }
    Mod+Shift+3 {
        move-column-to-workspace 3
    }
    Mod+Shift+4 {
        move-column-to-workspace 4
    }
    Mod+Shift+5 {
        move-column-to-workspace 5
    }
    Mod+Shift+6 {
        move-column-to-workspace 6
    }
    Mod+Shift+7 {
        move-column-to-workspace 7
    }
    Mod+Shift+8 {
        move-column-to-workspace 8
    }
    Mod+Shift+9 {
        move-column-to-workspace 9
    }
    Mod+BracketLeft {
        consume-or-expel-window-left
    }
    Mod+BracketRight {
        consume-or-expel-window-right
    }
    Mod+Comma {
        consume-window-into-column
    }
    Mod+Period {
        expel-window-from-column
    }
    Mod+W {
        switch-preset-column-width
    }
    Mod+Shift+W {
        switch-preset-window-height
    }
    // Expand the focused column to space not taken up by other fully visible columns.
    Mod+F {
        expand-column-to-available-width
    }
    Mod+Shift+F {
        maximize-column
    }
    Mod+Ctrl+F {
        fullscreen-window
    }
    Mod+C {
        center-column
    }
    Mod+Plus {
        set-column-width "-10%"
    }
    Mod+Equal {
        set-column-width "+10%"
    }
    Mod+Shift+Plus {
        set-window-height "-10%"
    }
    Mod+Shift+Equal {
        set-window-height "+10%"
    }
    Mod+V {
        toggle-window-floating
    }
    Mod+Shift+V {
        switch-focus-between-floating-and-tiling
    }
    Mod+T {
        toggle-column-tabbed-display
    }
    Mod+Ctrl+R {
        screenshot
    }
    Mod+Ctrl+M {
        screenshot-screen
    }
    Mod+Ctrl+W {
        screenshot-window
    }
    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false {
        toggle-keyboard-shortcuts-inhibit
    }
    Mod+Shift+E {
        quit
    }
    Ctrl+Alt+Delete {
        quit
    }
    Mod+Shift+P {
        power-off-monitors
    }
}

