* {
    BG:    #191724ff;
    BGA:   #31748fff;
    FG:    #e0def4ff;
    FGA:   #191724ff;
    BDR:   #ebbcbaff;
    SEL:   #31748fff;
    UGT:   #eb6f92ff;
    IMG:   #e0def4ff;
    OFF:   #575268ff;
    ON:    #ABE9B3ff;
}
