@import "mocha.css";

* {
  font-family: FantasqueSansM Nerd Font;
  font-size: 17px;
  min-height: 0;
}

window.HDMI-A-1 * {
  font-size: 12px;
}

window.HDMI-A-1 #window {
  font-size: 0px;
  padding: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 0px;
  transition-property: background-color;
  transition-duration: 1s;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px 0px;
  margin-left: 1rem;
  background-color: @surface0;
  /* padding: 0.5rem 1rem; */
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  /* padding: 0.4rem; */
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
  box-shadow: inset 0 -3px @sky;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#window {
  border-radius: 1rem;
  margin: 5px 0px;
  background-color: @surface0;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
}

#network,
#idle_inhibitor,
#cpu,
#memory,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-toggl {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#network {
  color: @blue;
  margin-left: 0px;
  margin-right: 0px;
}

#cpu {
  color: @green;
}

#memory {
  color: @yellow;
}

#custom-toggl {
  color: @mauve;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
