@import "rose-pine.css";

* {
  font-family: "Rec Mono Semicasual", "CaskaydiaCove NF";
  font-size: 15px;
  min-height: 0;
}

window.HDMI-A-1 * {
  font-size: 13px;
}

window.HDMI-A-1 #window {
  font-size: 0px;
  padding: 0;
  border: 0;
}

window.HDMI-A-1 #network,
window.HDMI-A-1 #idle_inhibitor,
window.HDMI-A-1 #cpu,
window.HDMI-A-1 #memory,
window.HDMI-A-1 #backlight,
window.HDMI-A-1 #clock,
window.HDMI-A-1 #battery,
window.HDMI-A-1 #pulseaudio,
window.HDMI-A-1 #custom-toggl {
  font-size: 0px;
  padding: 0;
  border: 0;
  margin: 0;
  background-color: transparent;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 3px -2px;
  transition-property: background-color;
  transition-duration: 1s;
}

#workspaces {
  border-radius: 1rem;
  margin: 3px 0px;
  font-weight: bold;
  margin-left: 1rem;
  background-color: @base;
  padding: 0.1rem 0.5rem;
  border: 2px solid @pine;
}

#workspaces button {
  color: @iris;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @base;
  background-color: @pine;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  padding: 0.1rem 3rem;
}

#workspaces button:hover {
  color: @foam;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  padding: 0.1rem 3rem;
}

#taskbar,
#window {
  border-radius: 1rem;
  margin: 3px 0px;
  background-color: @base;
  border: 2px solid @pine;
  margin-left: 1rem;
  padding: 0.1rem 1rem;
}

#taskbar button:hover {
  color: @foam;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  /* padding: 0.1rem 2rem; */
  padding-left: 2rem;
  padding-right: 2rem;
}

#network,
#idle_inhibitor,
#cpu,
#memory,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-toggl {
  background-color: @base;
  padding: 0.1rem 0.7rem;
  margin: 3px 0;
  /* border-top: 4px solid @pine;
  border-bottom: 4px solid @pine; */
  border: 2px solid @pine;
}

#network {
  color: @text;
  margin-left: 0px;
  margin-right: 0px;
}

#cpu {
  color: @rose;
}

#memory {
  color: @gold;
}

#custom-toggl {
  color: @iris;
}

#clock {
  color: @rose;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
  border-right: 4px solid @pine;
}

#battery {
  color: @rose;
}

#battery.charging {
  color: @rose;
}

#battery.warning:not(.charging) {
  color: @pine;
}

#backlight {
  color: @gold;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @love;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
  border-left: 4px solid @pine;
}

#custom-music {
  color: @iris;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @foam;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @pine;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
  border-right: 4px solid @pine;
  border-left: 4px solid @pine;
}
