@import "mocha.css";

* {
  font-family: "Rec Mono Semicasual", "CaskaydiaCove NF";
  font-size: 16px;
  min-height: 0;
}

window.HDMI-A-1 * {
  font-size: 14px;
}

window.HDMI-A-1 #window {
  font-size: 0px;
  padding: 0;
  border: 0;
}

window.HDMI-A-1 #network,
window.HDMI-A-1 #idle_inhibitor,
window.HDMI-A-1 #cpu,
window.HDMI-A-1 #memory,
window.HDMI-A-1 #backlight,
window.HDMI-A-1 #clock,
window.HDMI-A-1 #battery,
window.HDMI-A-1 #pulseaudio,
window.HDMI-A-1 #custom-toggl {
  font-size: 0px;
  padding: 0;
  border: 0;
  margin: 0;
  background-color: transparent;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px -2px;
  transition-property: background-color;
  transition-duration: 1s;
  padding: 0rem 0rem;
}

#workspaces {
  font-size: 20px;
  border-radius: 1rem;
  margin: 2px 0px;
  margin-left: 1rem;
  background-color: @surface0;
  padding: 0rem 0.5rem;
  border: 4px solid @red;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  /* padding: 0.4rem; */
}

#workspaces button.active {
  color: @base;
  background-color: @red;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  padding: 0.1rem 2rem;
  /* box-shadow: inset 0 -3px @sky; */
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  padding: 0.1rem 2rem;
}

#taskbar,
#window {
  border-radius: 1rem;
  margin: 5px 0px;
  background-color: @surface0;
  border: 4px solid @red;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
}

#network,
#idle_inhibitor,
#cpu,
#memory,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-toggl {
  background-color: @surface0;
  padding: 0.5rem 0.7rem;
  margin: 5px 0;
  /* border-top: 4px solid @red;
  border-bottom: 4px solid @red; */
  border: 4px solid @red;
}

#network {
  color: @blue;
  margin-left: 0px;
  margin-right: 0px;
}

#cpu {
  color: @green;
}

#memory {
  color: @yellow;
}

#custom-toggl {
  color: @mauve;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
  border-right: 4px solid @red;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
  border-left: 4px solid @red;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
  border-right: 4px solid @red;
  border-left: 4px solid @red;
}
